@font-face {
    font-family: 'GaramondPremierProLightDisplay';
    src: url('../fonts/garamondpremrpro-ltdisp.eot');
    src: url('../fonts/garamondpremrpro-ltdisp.eot') format('embedded-opentype'),
         url('../fonts/garamondpremrpro-ltdisp.woff') format('woff'),
         url('../fonts/garamondpremrpro-ltdisp.ttf') format('truetype'),
         url('../fonts/garamondpremrpro-ltdisp.svg#GaramondPremierProLightDisplay') format('svg');
}

@font-face {
    font-family: 'GaramondPremierProLightItalicDisplay';
    src: url('../fonts/garamondpremrpro-ltitdisp.eot');
    src: url('../fonts/garamondpremrpro-ltitdisp.eot') format('embedded-opentype'),
         url('../fonts/garamondpremrpro-ltitdisp.woff') format('woff'),
         url('../fonts/garamondpremrpro-ltitdisp.ttf') format('truetype'),
         url('../fonts/garamondpremrpro-ltitdisp.svg#GaramondPremierProLightItalicDisplay') format('svg');
}
