@import "compass";
@import "_reset";
@import "_helpers";
@import "_fonts";
@import "_base";
@import "yellow";


/* LAYOUT 
--------------------------------------------------------------
-------------------------------------------------------------- */
#plane{
	position: fixed;
	width: 120px;
	text-align: center;
	z-index: 800;
	top: 20px;
	left: 20px;

	img{
		max-width: 100%;
	}

	@include bp(s){
		display: none;
	}
}

#open-btn{
	position: fixed;
	top: $gutter/2;
	right: $gutter/2;
	text-align: center;
	z-index: 500;

	a{
		color: $color_lt;
		background-color: $color_main;
		padding: 10px;
		display: block;
		font-size: 1.5em;
		line-height: normal;

		&:hover{
			background-color: $color_main;
			color: $color_accent;
		}
	}

	@include bp(s){
		width: 40px;
		height: 40px;
		padding: 0;
		text-align: center;
		line-height: 30px;
		top: 20px;
		right: 20px;

		a{
			padding: 0;
			font-size: 1em;
		
			line-height: 40px;
		}

		
	}
}

#header{
	@include transition;
	position: fixed;
	top: -260px;
	left: 0;
	width: 100%;
	padding: $gutter;
	background-color: $color_accent;
	text-align: center;
	z-index: 600;

	@include bp(m){
		padding: ($gutter / 3);
	}

	@include bp(s){
		top: 0;
		left: -100%;
		height: 100vh;
		padding-right: 80px;
		text-align: left;


		&.header-open{
			left: 0;
			
		}
	}

	a{
		color: $color_main;

		&:hover{
			color: $color_lt;
		}
	}

	.title{
		text-align: center;
		display: block;
		margin: 0 auto 30px;
		font-family: $font_header;
		font-size: 2em;
		font-weight: 100;
		text-transform: uppercase;

		span{
			font-weight: 700;
			letter-spacing: 5px;
		}

		@include bp(s){
			font-size: 1.8em;
			margin-bottom: 20px;
			text-align: left;
		}
	}

	.close-btn{
		position: absolute;
		top: 30px;
		right: 30px;
		text-align: center;
		z-index: 500;

		a{
			color: $color_main;
			padding: 10px;
			display: block;
			font-size: 1.5em;
			line-height: normal;

			&:hover{
				color: $color_accent;
				background-color: $color_main;
			}
		}

		@include bp(s){
			width: 40px;
			height: 40px;
			padding: 0;
			text-align: center;
			line-height: 30px;
			top: 20px;
			right: 20px;

			a{
				padding: 0;
				font-size: 1em;
				background-color: #fff;
				color: $color_accent;
				line-height: 40px;
			}

			
		}
	}

	&.header-open{
		top: 0;	
	}
}


#main-nav{
	ul{
		font-family: $font_header;


		li{
			@include inline-block;
			text-transform: uppercase;
			font-size: .8em;
			letter-spacing: 2px;
			font-weight: 400;
		}

		li + li:before{
			content: '•';
			margin: 0 15px 0 10px;
			color: $color_main;	
		}

		a{
			border-bottom: transparent solid 1px;
			padding-bottom: 2px;

			&:hover{
				border-bottom: $color_lt solid 1px;
				color: $color_lt;
			}

			&.active{
				border-bottom: $color_main solid 1px;
			}

		}

		@include bp(s){
			
			li{
				display: block;

				a{
					padding: 10px 0;
					display: block;
				}
			}

			li + li:before{
				content: none;
				margin: 0;


			}
		}
	}
}

#main{
	padding: 0;
	background-color: #fff;
	position: relative;
	z-index: 100;

	.inner{
		background-color: #fff;
		/*padding: $gutter;*/

		@include bp(m){
			/*padding: $gutter / 3;*/
		}

		@include bp(s){
			/*padding: ($gutter / 3) 10px;*/
		}
	}
}

#footer{
	position: relative;
	clear: both;
	z-index: 100;
	font-family: $font_header;

	@include bp(m){
			padding: $gutter / 3;
		}

	
	p{
		text-align: justify;
	}

	img{
		max-width: 100%;
		height: auto;
	}

	.inner{
		@include pie-clearfix;
		position: relative;
		z-index: 100;
		max-width: $bp_lg;
		margin: auto;
		padding: 80px 0;
	}

	.skyline{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		line-height: 0;
		z-index: 1;
	}

	.copy{
		clear: both;
		text-transform: uppercase;
		font-size: .6em;
		text-align: center;
		font-weight: 400;
		padding: 20px;
		background-color: darken($color_dk, 5%);
		color: $color_med;
		letter-spacing: 2px;
		font-family: $font_header;

		@include bp(s){
	   	padding: 0;
	   	letter-spacing: 0;
	  	}
	}

	.social-icons{

		a{
			color: $color_main_lt;
			padding: 0 10px 0 0;
			font-size: 1.5em;

			&:hover{
				color: #fff;
			}

			@include bp(s){
		   	padding: 0 10px;
		  	}
		}
	}

	.section{
		/*@include inline-block;*/
		float: left;
		vertical-align: top;
		font-size: .8em;
		font-weight: 200;
		clear: none;
		margin-bottom: 0;
		
		h2{
			margin-bottom: 20px;
		}

		p{
			margin-bottom: 20px;
			font-size: 1em;

			@include bp(s){
		   	text-align: center;
		  	}
		}

		ul{

			li{
				margin-bottom: 20px;
			}
		}
	}
}

#footer-left{
	float: left;
	width: 48%;

	@include bp(s){
   	width: 100%;
  	}
}

#footer-right{
	float: left;
	width: 52%;

	@include bp(s){
   	width: 100%;
   	text-align: center;
  	}
}

#footer-company{
	width: 30%;
	padding-right: $gutter / 2;

	@include bp(l){
		width: 100%;
		text-align: center;

		img{
			max-width: 80%;
		}
	}

	@include bp(s){
   	width: 100%;
   	text-align: center;
  	}
}

#footer-sitemap{
	width: 30%;
	padding-right: $gutter / 2;

	@include bp(l){
		width: 35%;
	}

	@include bp(s){
   	width: 100%;
   	padding: 0;
   	text-align: center;
  	}
}

#footer-info{
	width: 40%;
	padding-right: $gutter / 2;

	@include bp(l){
		width: 65%;
	}

	@include bp(s){
   	width: 100%;
   	text-align: center;
   	padding: 0;
  	}
}

#footer-articles{
	width: 100%;

	.views-row{
		width: 50%;
		float: left;
		vertical-align: top;
		margin-bottom: 30px;

		@include bp(l){
			width: 100%;
		}
	}

	.views-row-odd{
		padding-right: 10px;

		@include bp(l){
			padding: 0;
		}
	}

	.views-row-even{
		padding-left: 10px;

		@include bp(l){
			padding: 0;
		}
	}

	.views-field-title{
		font-weight: 200;
		padding-top: 5px;
	}

	
}

.social-icons{
	margin-top: 30px;

	a{
		@extend %a_color_lt;
		padding: 0 10px;
	}
}


.divider{
	padding: $gutter 0;
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	font-family: $font_header;

	@include bp(m){
		margin: $gutter / 2;
	}
}

.node-type-page{
	h1#page-title{
		display: none;
	}
}


.pane-title{
	text-align: center;
	margin-bottom: $gutter;

	@include bp(m){
		margin: $gutter / 2;
	}
}


.has-bg{
	
	.body-top{
		padding-top: 80vh;
		position: relative;

		img{
			position: absolute;
			bottom: -1px;
			left: 0;
		}

		@include bp(m){
			padding-top: 40vh;
		}

		@include bp(s){
			
		}
	}

	#main .inner{
		padding-top: $gutter;

		@include bp(m){
			padding-top: $gutter / 3;
		}
	}

	
}

.no-bg{
	
	.body-top{
		padding-top: 180px;
		position: relative;

		img{
			position: absolute;
			bottom: -1px;
			left: 0;
		}

		@include bp(s){
			padding-top: 0;
		}
	}


}

.bg{
	position: fixed;
	top: 0;
	left: 0;
	height: 80vh;
	width: 100%;
	z-index: -1;

	.bg-image{

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
	}

	.bg-body{
		position: absolute;
		z-index: 100;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: table;
		width: 100%;
		height: 100%;
	}

	@include bp(m){
		height: 40vh;
	}

	@include bp(s){
		.bg-body{
			
		}
	}
}

.bg-box{
	//position: absolute;
	//top: 40%;
	left: 0;
	width: 100%;
	text-align: center;
	//display: table-cell;
	vertical-align: middle;

	.inner{
		@include inline-block;
		@include border-radius(100vh);
		padding: $gutter/2 $gutter !important;
		text-align: center;
		font-family: $font_header;
		background-color: rgba(#2f2f2f, .9) !important;
		color: $color_main_lt;
		display: table;
		margin: 0 auto;
		width: 80vh;
		height: 80vh;
		font-size: 30px;
		font-weight: 200;
		margin-top: 0;
		

		.fancy{
			font-size: 30px;
		}
	}

	.tag{
		display: table-cell;
		vertical-align: middle;
	}
}

.view-content{
	@include pie-clearfix;
}

.view-id-projects .view-content,
.node-type-project .full,
.page-taxonomy #block-system-main{
	max-width: $bp_lg;
	margin: auto;
	padding-bottom: $gutter;

	@include bp(m){
		padding-bottom: $gutter / 3;
	}
}

.view-id-projects .view-content{
	

	@include bp(m){
		padding: 0 ($gutter / 3) $gutter;
	}
}


/* BLOCK STYLES 
--------------------------------------------------------------
-------------------------------------------------------------- */



.btn{
	text-align: center;
	
	a{
		@include inline-block;
		@include border-radius(3px);
		font-family: $font_header;
		padding: 30px;
		
		font-size: 1em;
		font-weight: 200;
		letter-spacing: 1px;

		background-color: $color_main;
		color: $color_lt;

		&:hover{
			background-color: $color_accent;
			color: $color_main;
		} 

		@include bp(s){
			padding: 20px 30px;
			font-size: 1em;
		}
	}
	
}

.accent{
	color: $color_accent !important;
}

.fancy{
	font-family: $font_fancy !important;
}







/* CREATIVE HOME 
--------------------------------------------------------------
-------------------------------------------------------------- */
.panels-flexible-region-11-center{
	width: 100%;
}

.page-creative{

	.body-top{
		display: none;
	}
}

.page-creative-projects{
	.body-top{
		display: block;
		padding-top: 80vh !important;
		position: relative !important;

		@include bp(s){
			padding-top: 0 !important;
		}
	}
}

#creative-home{
	height: 100vh;
	background-color: $page_bg_med;
	width: 100%;
	position: relative;

	background: url(../images/TC-Background-1.jpg) no-repeat center bottom fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center 0;

	.arrow-down{
		width: 50px;
		margin: 40px auto 0;
	}

	.title{
		font-size: 70px;
		text-align: center;
		font-family: $font_header;
		text-transform: uppercase;	
		color: $color_main;

		span{
			font-weight: 600;
		}

		@include bp(m){
			font-size: 3em;
		}

		@include bp(s){
			font-size: 1.5em;
		}

	}

	.inner{
		/*background-color: rgba(#373737, .9);*/
		text-align: center;
		width: 100%;
		height: 200px;
		position: fixed;
		top: 70px;
		left: 0;
		margin: 0;
		z-index: 1;

		h3{
			font-family: $font_main;
			font-size: 22px;
			margin-top: 20px;

			@include bp(s){
				font-size: .8em;
			}
		}

		@include bp(s){
			margin-top: -100px;
		}
	}

	.skyline{
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 90%;
		line-height: 0;
		z-index: 100;
	}

	@include bp(s){

		background-image: none;
		background-color: #f4f4f4;

		.inner{
			left: 0;
			//margin: -100px auto 0;
			text-align: center;
			//width: 80%;
			position: relative;
		}
	}
}



.page-creative{
	h1#page-title{
		display: none;
	}
	&.page-creative-projects{
	h1#page-title{
		display: block;
	}
}

	#main{
		/*padding-top: 100px;*/
		> .inner{
			padding-top: 80px;
		}
	}

	.pane-views.pane-projects{
		position: relative;
	}
}







/* PROJECT 
--------------------------------------------------------------
-------------------------------------------------------------- */
.node-type-project{
	h1#page-title{
		display: none;
	}
}

.view-footer{
	margin-bottom: $gutter * 2;
}

.project.teaser{
	@include transition;
	width: 50%;
	margin-bottom: $gutter;
	float: left;

	.cover{
		line-height: 0;
		background-color: $color_main;
		margin-bottom: 10px;
	}

	h2{
		margin-bottom: 10px;
	}

	img{
		@include transition;
		width: 100%;
		height: auto;
		opacity: .8;

		&:hover{
			opacity: 1;
		}

	}

	@include bp(m){
		margin-bottom: ($gutter / 2);

		h2{
			font-size: 1.5em;
		}
	}

	@include bp(s){
		margin-bottom: ($gutter / 2);
		width: 100%;

		h2{
			font-size: 1.2em;
			font-weight: 200;
		}
	}
}

.view-projects .views-row-odd .project.teaser,
.page-taxonomy-term .project.teaser:nth-child(even){
	padding-right: $gutter /2;
	clear: both;

	@include bp(m){
		padding-right: ($gutter / 6);
	}

	@include bp(s){
		padding-right: 0;
	}
}

.view-projects .views-row-even .project.teaser,
.page-taxonomy-term .project.teaser:nth-child(odd){
	padding-left: $gutter /2;

	@include bp(m){
		padding-left: ($gutter / 6);
	}

	@include bp(s){
		padding-left: 0;
	}
}

.full{

	h1{
		margin-bottom: 20px;

		@include bp(s){
			font-size: 1.5em;
		}
	}

	img{
		max-width: 100%;
		height: auto;
	}

	.services{
		margin: 40px 0;
	}

	.header{
		@include border-radius(3px 3px 0 0);
		background-color: $page_bg_med;
		padding: $gutter;
		text-align: center;
		font-family: $font_header;

		@include bp(m){
			padding: ($gutter / 2);
		}
		
	}


	.website{
		margin-top: 20px;

		a{
			@include inline-block;
			@include border-radius(3px);
			padding: 20px 30px;
			background-color: $color_main;
			color: $color_lt;
			font-size: .7em;
			font-weight: 400;
			letter-spacing: 2px;
			text-transform: uppercase;

			&:hover{
				background-color: $color_accent;
			}
		}
	}

	.body{


		.quote{
			margin-bottom: $gutter;
			max-width: 800px;
			margin: 0 auto 60px;
			background-color: $color_accent;
			padding: $gutter;
			font-size: 32px;
			color: #fff;
			font-family: $font_header;
			text-align: left;
			line-height: normal;

			.author{
				display: block;
				text-align: right;
				font-size: 18px;
				font-family: $font_fancy;
				margin-top: 20px;
			}
		}
	}

	.services{
		@include bp(s){
			.field-name-field-services{
				display: block;
				margin-bottom: 5px;
			}

			.field-name-field-services + .field-name-field-services:before{
				content: none;
			}
		}
	}
}

.services{
	text-transform: lowercase;
	font-weight: 400;
	font-family: $font_header;
	font-size: .8em;

	a{
		color: $color_main;

		&:hover{
			color: $color_accent;
		}
	}

	.field-name-field-services{
		@include inline-block;

	
	}

	.field-name-field-services:after{
		padding: 0 2px;
		content: "\002F";
		color: $color_accent;	
	}

	.field-name-field-services:last-child:after{
		content: none;
	}
}

.colorbox-insert-image{
	line-height: 0;
	margin-bottom: $gutter;
	display: block;

	@include bp(m){
		margin-bottom: ($gutter / 3);
	}
}

.fluid-width-video-wrapper{
	margin-bottom: $gutter;

	@include bp(m){
		margin-bottom: ($gutter / 3);
	}
}

.image-half-left{
	float: left;
	padding-right: $gutter / 2;
	width: 50%;

	@include bp(m){
		padding-right: ($gutter / 6);
	}

	@include bp(s){
		padding: 0;
		width: 100%;
		float: none;
	}
}

.image-half-right{
	float: right;
	padding-left: $gutter / 2;
	width: 50%;

	@include bp(m){
		padding-left: ($gutter / 6);
	}

	@include bp(s){
		padding: 0;
		width: 100%;
		float: none;
	}
}

.image-third-left,
.image-third-center,
.image-third-right{
	width: 33.33%;
	float: left;

	@include bp(s){
		padding: 0 !important;
		width: 100%;
		float: none;
	}
}

.image-third-left{
	padding-right: $gutter * .666;

	@include bp(m){
		padding-right: (($gutter / 3) * .666);
	}
}

.image-third-center{
	padding: 0 ($gutter * .333);

	@include bp(m){
		padding: 0 (($gutter / 3) * .333);
	}
}

.image-third-right{
	padding-left: ($gutter * .666);

	@include bp(m){
		padding-left: (($gutter / 3) * .666);
	}
}

.push-center{
	max-width: 600px;
	margin: auto;
}

p.push-center{
	margin-bottom: $gutter;
	text-align: justify;

	@include bp(m){
		margin-bottom: ($gutter / 3);
	}
}

h2.push-center{
	font-size: 1.5em;
	color: $color_accent;
	margin-bottom: 10px;
}

.field-name-body ul{
	margin-bottom: $gutter;

	li{
		margin-bottom: 5px;
		font-size: 20px;
	}

	.label{
		font-family: $font_header;
		text-transform: uppercase;
		font-size: .5em;
		font-weight: 700;
		letter-spacing: 1px;
	}

	@include bp(m){
		margin-bottom: ($gutter / 3);
	}
}

/* BASIC PAGES
--------------------------------------------------------------
-------------------------------------------------------------- */
.panels-flexible-region-10-center{
	float: none;
	width: 100%;
}

.section{
	@include pie-clearfix;
	margin-bottom: $gutter * 2;
	clear: both;

	p{
		font-size: 1.1em;
		line-height: 30px;
		text-align: justify;
		max-width: 650px;
		margin: auto auto $gutter;
		font-family: $font_header;
		font-weight: 200;

		@include bp(s){
			padding: 0 ($gutter / 3);
		}
	}

	h1{
		margin-bottom: $gutter;
	}

	h2{
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 4px;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.inside{
		max-width: $bp_lg;
		margin: auto;
	}

	@include bp(s){
		margin-bottom: $gutter /3;
		
		p{
			font-size: 1em;
			margin-bottom: $gutter / 2;
			text-align: left;
		}
	}

	&.dark{
		background-color: $color_accent;
		color: $color_main_lt;
		padding: $gutter;

		&.bottom{
			margin-bottom: 0;
		}

		.arrows{
			color: $color_main;
		}

		a{
			color: $color_main_lt;

			&:hover{
				color: $color_main_lt2;
			}
		}

		.btn{
			

			a{
				background-color: $color_main_lt;
				color: $color_accent;

				&:hover{
					background-color: $page_bg_med;
					color: $color_accent;
				}
			}
		}

		

		@include bp(s){
			padding: 20px;
		}

		
	}

	&.med{
		background-color: $page_bg_lt;
		padding: $gutter;

		&.bottom{
			margin-bottom: 0;
		}
		
		@include bp(s){
			padding: 20px;
		}

		
	}

}

.panel-separator{
	margin: 0 !important;
}

#front-divider-1{
	position: relative;
	background: $color_accent url(../images/Aim-High-City.jpg)  center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
	

	
  text-align: center;

	

  .quote{
  	position: relative;
  	z-index: 100;
	  max-width: 600px;
	  font-family: $font_header;
	  font-size: 40px;
	  text-align: left;
	  margin: auto;
	  padding: $gutter 0;

	  .author{
	  	font-size: 24px;
	  	font-family: $font_fancy;
	  	text-align: right;
	  	margin-top: 20px;
	  }
  }
}


#intro-1{
	text-align: center;

	h2{
		text-align: center;
		color: $color_main;
		font-size: 2.5em;
		letter-spacing: 0;
	}

	p{
		font-family: $font_fancy;
		text-align: center;
		font-size: 18px;
		margin-bottom: 20px;

		span{
			font-family: $font_header;
			font-weight: 600;
			text-transform: uppercase;
			color: $color_med;
			font-size: 18px;
		}
	}

	.slide-1, .slide-2, .slide-3, .slide-4{
		position: relative;
	}

	.slide-2{
		@include border-radius(400px);
		width: 650px;
		height: 650px;
		background-color: $page_bg_lt;
		margin: -150px auto;
		padding: 220px 60px 0;

		@include bp(s){
			width: 100%;
			height: auto;
			border-radius: 0;
			padding-bottom: 200px;
			padding-right: 20px;
			padding-left: 20px;
		}
	}

	.slide-3{
		margin: 20px 0;
		position: relative;

		h2{

			span{
				position: absolute;
				top: -30px;
				left: 50%;
				margin-left: -90px;
				font-size: 24px;

				@include bp(s){
					position: relative;
					top: auto;
					left: auto;
					margin-left: 0;
					display: block;
				}
			}


		}
	}

	.slide-4{
		@extend .bg-main;
		@include border-radius(400px);
		width: 650px;
		height: 650px;
		margin: -150px auto 0;
		padding: 220px 80px 0;

		.arrows{
			color: $color_med;
		}
		.trigger{
			@include inline-block;
			font-family: $font_header;
			font-weight: 600;
			text-align: center;
			font-size: 14px;
			letter-spacing: 4px;
			color: $color_accent;
			border-bottom: none;
		}

		.circle{
			background-color: $color_main;
		}

		@include bp(s){
			width: 100%;
			height: auto;
			border-radius: 0;
			padding-bottom: 80px;
			padding-right: 20px;
			padding-left: 20px;
		}
	}
	

	.circle{
		@include border-radius(40px);
		width: 20px;
		height: 20px;
		border: $color_med solid 5px;
		margin: 0 auto;
	}


	.lines-2{
		position: relative;
		z-index: 10;

		.line-1{
			width: 1px;
			height: 300px;
			border-right: $color_med dashed 1px;
			margin: 0 auto;
		}
		
		.circle.top{
			bottom: auto;
			top: -15px;
		}

		.circle.bot{
			bottom: -15px;
		}
	}

}

#cta{
	margin-bottom: 0;
	padding: 80px 0;


	h2{
		margin-top: 60px;
		text-align: center;

	}

	.btn{
		margin-top: 60px;
	}

	@include bp(s){

		h1{
			font-size: 40px;
			margin-bottom: 20px;
		}
		
		h2{
			margin-top: 20px;
		}

		.btn{
			margin-top: 20px;
		}
	}

}

#aha-goals{
	margin-bottom: 0;

	.btn{
		
		a{
			font-size: 1.5em;
		}
	}

	.translate{
		display: none;
		
	}

	.translate.first{
		display: block;
	}
}

#projects-header{

	.bg-image{
		background-color: $color_dk;
		// background: url(/sites/aimhighforlife.com/files/AIMHIGH-Astroaunt-hue.jpg) no-repeat center center fixed; 
	 //  -webkit-background-size: cover;
	 //  -moz-background-size: cover;
	 //  -o-background-size: cover;
	 //  background-size: cover;
	}

	.inner{
		background-color: $color_main !important;

		.display-block{
			//font-size: 2em;
			display: inline;
		}
	}
}

.services-bg{
	.inner{
		background: $color_accent !important;
	}

}

.page-node-34{
	.bg-image{
		background: $color_dk none !important;
	}

	@include bp(s){
		.body-top{
			display: none !important;
		}
	}
}

#select-projects{

	.view-content{
		padding-bottom: 0;
	}
}

#agency{

	h2{
		text-align: center;
		font-size: 1.5em;
	}

	#services{
		p{
			text-align: center;
		}
	}
}

#services{
	position: relative;
	text-align: center;

	h2{
		text-align: center;
		color: $color_main;
		font-size: 2.5em;
		letter-spacing: 0;

		@include bp(s){
			font-size: 1.8em;
		}
	}

	.slide-1, .slide-2, .slide-3{
		@include border-radius(400px);
		width: 800px;
		height: 800px;
		background-color: #f6f6f6;
		margin-left: auto;
		margin-right: auto;
		padding-left: 40px;
		padding-right: 40px;

		@include bp(s){
			width: 100%;
			height: auto;
			border-radius: 0;
			padding-bottom: 50px;
			padding-right: 20px;
			padding-left: 20px;
		}

		p{
			font-family: $font_fancy;
			text-align: center;
			font-size: 18px;
			margin-bottom: 20px;

			span{
				font-family: $font_header;
				font-weight: 600;
				text-transform: uppercase;
				color: $color_accent;
				font-size: 18px;
			}
		}

		.icon{
			max-width: 400px;
			margin: 0 auto;
		}

		.inner{
			background-color: transparent;
		}
	}

	.slide-1{
		padding-top: 40px;
		margin-bottom: -100px;
		margin-top: -100px;
		background-color: #f6f6f6;
		//border: $page_bg_med solid 2px;

		.icon{
			margin-bottom: 20px;
		}

		@include bp(s){
			margin: -50px 0;
			border-left: none;
			border-right: none;
		}
	}

	.slide-2{
		padding-top: 40px;
		margin-top: -100px;
		margin-bottom: -100px;
		//background-color: #ebebeb;

		.icon{
			margin-bottom: 20px;
		}

		@include bp(s){
			margin: -50px 0;
		}
	}

	.slide-3{
		padding-top: 40px;
		margin-top: -100px;
		margin-bottom: 0;
		//background-color: #ddd;

		.icon{
			margin-bottom: 40px;
		}

		@include bp(s){
			margin: -50px 0 0;
		}
	}



	.circle{
		@include border-radius(40px);
		width: 20px;
		height: 20px;
		border: $color_med solid 5px;
		margin: 0 auto;
	}

	.line{
		position: relative;
		z-index: 10;

		.line{
			width: 1px;
			height: 300px;
			border-right: $color_med dashed 1px;
			margin: 0 auto;

			@include bp(s){
				height: 100px;
			}
		}
		
		.circle.top{
			bottom: auto;
			top: -15px;
		}

		.circle.bot{
			bottom: -15px;
		}

		
	}
}


.arrows{
	text-align: center;
	font-size: 2em;
	color: $color_main;

	div{
		margin: $gutter 0;

		@include bp(s){
			margin: ($gutter/3) 0;
		}
	}
}


.cta{
	margin-bottom: 0;

	h1{
		margin-bottom: 0;
	}
}

.connect-intro{
	margin-bottom: 0;

	p + p{
		margin-bottom: 0;
	}
}

#connect{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 200;
	text-align: center;

	//background-color: rgba(#fff, 0.9);

	h1{
		font-size: 2.8em;
		font-weight: 600;
		text-transform: uppercase;
		color: #color_med;

		@include bp(s){
			font-size: 1.8em;
		}
	}

	.bg{
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		height: 100vh;
		background-color: rgba($color_dk, 1);
		cursor: pointer;
	}

	.inner{
		@include border-radius(100vh);
		display: table;
		background-color: rgba($color_main, .98);
		color: $color_med;
		height: $connect_width;
		width: $connect_width;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -$connect_width / 2;
		margin-left: -$connect_width / 2;

		@include bp(s){
			border-radius: 0;
		}

	}

	.info{
		display: table-cell;
		vertical-align: middle;
		font-family: $font_header;
		//padding-bottom: 30px;
	}

	h1{
		margin-bottom: 30px;
	}

	a{
		color: $color_lt;
		

		&:hover{
			color: $color_accent;
		}
	}

	.arrows div{
		color: $color_med;
		margin: 30px 0;

		@include bp(s){
			margin: 20px 0;
		}
	}

	.email{
		font-size: 1.5em;
		margin-bottom: 20px;

		a{
			border-bottom: $color_accent dashed 1px;
		}

		@include bp(s){
			font-size: 1em;
		}
	}

	.phone{
		font-size: 1.5em;
		margin-top: 20px;

		@include bp(s){
			font-size: .8em;
		}
	}

	.social-icons{
		margin-top: 60px;

		a{
			font-size: 2em;
		}

		@include bp(s){
			margin-top: 20px;

			a{
				font-size: 1.5em;
			}
		}
	}

	.icon-cross{
		font-size: 2em;
		margin-top: 60px;
		@include inline-block;
		color: $color_accent;

		@include bp(s){
			margin-top: 20px;
		}
	}
}



/* SERVICE
--------------------------------------------------------------
-------------------------------------------------------------- */
.service-links li a{
	@include border-radius($share_icon_width/2);
	@include inline-block;
	

	img{
		display: none !important;
	}

	&.service-links-facebook:before{
		content: "\e605";
	}

	&.service-links-twitter:before{
		content: "\e604";
	}

	&.service-links-google-plus:before{
		content: "\e606";
	} 

	&.service-links-pinterest-button:before{
		content: "\e607";
	} 
}

.service-links li.service-links-pinterest-button a:before{
		content: "\e607";
	} 

.teaser .service-links{
	float: left;

	li{
		@include inline-block;
		margin: 0 10px 0 0;
	}

}

.teaser li.service-links-pinterest-button{
	display: none;
}

.full .service-links{
	text-align: center;
	
	li{
		@include inline-block;
		margin: 0 10px;
	}

	a{
		background-image: none  !important;
		font-size: 40px !important;
		color: #fff;
		background-color: $color_accent ;
		line-height: 84px;
		width: $share_icon_width !important;
		height: $share_icon_width !important;
		vertical-align: middle !important;
	}

	@include bp(s){

		li{
			margin: 0 5px;
		}
		a{
			font-size: 20px !important;
			line-height: 40px;
		width: 40px !important;
		height: 40px !important;
		}
	}
}


.full .share-post{
	text-align: center;
	padding-top: 60px;
	margin-bottom: 20px;

	h2{
		font-weight: 200;
		color: $color_accent;
		font-size: 30px;
		margin-bottom: 10px;
	}

	h3{
		font-family: $font_main;
		font-style: italic;
		margin-bottom: 10px;
	}

	ul li{
		@extend .inline_block;
		margin: 0 10px;
	}

	.pinterest{
		background: url(../images/service_links/pinterest.png) no-repeat;
		width: 80px;
		height: 80px;
		display: block;
	}
	
	a{
		@include transition;
	}

	a:hover{
		background-color: lighten($color_main, 40%);
		color: $color_accent;
	}

	@include bp(s){
		padding-top: 0;
	}
}


/* EXTRAS
-------------------------------------------------------------- */
body.cke_show_borders{width: $main_width !important; min-width: $main_width; margin: 0 auto;}

.image-post_full {
	position: relative;
	z-index: 1;
}

div.krumo-root{
	width: 800px;
	margin-left: 500px;
}

body.mceContentBody { 
   width: $main_width !important;
   min-width: $main_width;
   margin: 0 auto;

}

#cboxContent, .cboxPhoto{
	@include border-radius(0);
}

#cboxClose.cbox-close-plain{
	@include border-radius(0);
	width: 50px;
	height: 50px;
	text-align: center;
	opacity: 1 !important;
	color: $color_accent;
	/*text-indent: -999px !important;*/
}

.text-center{
	text-align: center !important;
}

.display-block{
	display: block;
}




